@import "../../app-common";

.plus-house-card {
  width: 100%;
  .plus-house-img {
    width: inherit;
    margin-bottom: 5px;
    position: relative;
    height: 200px;
    background-color: #d6e0f5;
    border-radius: 5px;
    .play-item-love {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 3;
    }
  }
  .plus-house-foot {
    width: inherit;
    margin-bottom: 2px;
    div:first-child {
      font-size: 12px;
      > span {
        font-size: 12px;
        &:last-of-type {
          color: #993333;
        }
      }
    }
    div:nth-child(2) {
      font-weight: 600;
      color: #404040;
      display: inline-flex;
      align-items: center;
      > span {
        position: relative;
        > .plus-icon {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    div:nth-child(3) {
      font-size: 13px;
      color:#666;
    }
    div:last-child {
      width: 100%;
      font-size: 12px;
      color:#666;
      display: inline-flex;
    }
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
  .plus-house-card .plus-house-img .play-carousel /deep/ .carousel {
    height: 200px !important;
  }
  .plus-house-card .plus-house-img .play-carousel /deep/ .carousel-fade {
    height: 200px !important;
  }
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
  //width: 100%;
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
