<div class="hot-city-house-card">
  <div class="hot-city-house-img">
    <img [src]="house.imgUrl" [alt]="house.text" />
  </div>
  <div class="hot-city-house-foot">
    <div>{{house.type}}.{{roomDeescript}}</div>
    <div>{{house.text}}</div>
    <div>¥{{house.price}}每晚.免费取消预订</div>
    <div>
      <span><nc-rate [size]="'12px'" [color]="'#3399ff'" [totalRate]="5" [(curRate)]="house.star"></nc-rate></span>
      <span title="{{house.comment}}条评价" *ngIf="house.excellent">{{house.comment}}.超赞房东</span>
      <span title="{{house.comment}}条评价" *ngIf="!house.excellent">{{house.comment}}</span>
    </div>
  </div>
</div>



