.hot-city-house-card {
  width: 100%;
  .hot-city-house-img {
    width: inherit;
    margin-bottom: 5px;
    position: relative;
    background-color: #d6e0f5;
    border-radius: 4px;
    img {
      width: inherit;
      height: 220px;
      display: inherit;
      border-radius: 4px;
    }
  }
  .hot-city-house-foot {
    width: inherit;
    margin-bottom: 2px;
    div:first-child {
      font-size: 12px;
      color:#666;
    }
    div:nth-child(2) {
      font-weight: 600;
      color: #404040;
    }
    div:nth-child(3) {
      font-size: 13px;
      color:#666;
    }
    div:last-child {
      width: 100%;
      font-size: 12px;
      color:#666;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


