.nc-layout {
  .lay-header {
    position: relative;
    width: 100%;
  }
  .nc-content {
    position: relative;
    width: 100%;
  }
  .nc-footer {
    position: relative;
    width: 100%;
    background: #fff;
    border-top:solid 1px #e6e6e6;
    .lay-foot {
      padding: 10px;
    }
  }
}
