.detail-site {
  width: 100%;
  padding: 10px 0;
  .detail-location {
    width: inherit;
    margin: 10px 0;
    .detail-location-head {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .detail-location-body {
      margin: 5px 0;
      div {
        font-size: 16px;
        line-height: 24px;
        &:first-child {
          font-weight: 500;
          margin-bottom: 10px;
        }
      }
    }
  }
  .detail-map {
    display: inline-block;
    width: 800px;
    height: 500px;
  }
}
