<nc-dialog [header]="'关于此房源'" [style]="'normal'" [size]="'big'" [(isShow)]="isShowsDialog"  (isShowChange)="showChange()">
  <div class="content">
    <h4>概要</h4>
    <p>野宿出品【饮马居】</p>
    <p>源起</p>
    <p>这栋咫尺西湖拥有得天独厚地理位置的安乐小窝是我和一位当红设计师共同打造｡</p>
    <p>我们结识于《向往的生活》拍摄工作,又一起执行了《幸福三重奏》的重要任务｡由于我是模特的工作性质,经常需要全世界满天飞几乎住遍了高级酒店,由于经常忙碌的拍摄工作结束后却难得遇到一个能让人卸下满心疲惫的房间｡于是这样的初心简单而直白,我们一拍即合决定马上动手｡
      历时三个月的改造,跨过了农历新年,经历了杭州下雪的寒冬和漫长的雨季终于展露了它的新颜,就是你们现在看到的样子｡亲手涂刷的环保墙壁,自己敲打的木制家具,淘欧洲古董,还有我们亲自磨好封装的美国咖啡豆,虽然邻居爷爷奶奶们完全不理解我们的行为,但这是我们身体力行的践行着把最好的生活模样呈现给你们,几乎的所有都饱含了我们的心意｡</p>
    <h4>房源细节</h4>
    <p>•卧室/Bedroom</p>
    <p>出门在外,柔软的床就像是收纳你疲惫身躯的超大怀抱， Queen- size (1.5米 X 1.9米) 3D立体记忆床垫，全棉亲肤的床品配着柔和的背景灯光，随手翻阅枕边的书籍，就像睡前诉说着的悄悄话。</p>
    <p>•花园 / Garden</p>
    <p> 卧室的超大落地玻璃窗直面花园,阳光洒进院落的时候时候,推开门坐在藤椅上,泡一杯手冲咖啡眯上眼小憩一会儿,隔壁家的胖猫也许正坐在我家的玻璃屋顶上冲着你伸懒腰｡落日余温照进整间屋子,坐在榻榻米茶厅欣赏着斜阳与满目葱茏的花草,人生中这样画面是绝不容错过的｡</p>
    <p>•客厅/Drawingroom</p>
    <p>进门首先映入眼前的便满墙的油画和欧洲古董博物馆一般的客厅,有国外市集带回来的物件，闲暇时光可以无线连接高清投影，打开100寸超大屏全自动幕布,窝在沙发里享受完美的视听盛宴。</p>
    <p>•卫浴室/Shower room</p>
    <p>玻璃花房般的浴室的让你无时无刻享受着阳光带给你的舒心与惬意, 超大浴缸和源源不断的热水,让你身体每个毛孔得到放松，为了确保温泉般的浴缸体验，我们将淋浴和泡池分由两条水路，不必担心供水不足。</p>
    <p>•厨房/Kitchen</p>
    <p>开放式的厨房是很多人偏爱的部分，炊具/调味品已经备好，我们还精心挑选各色珐琅餐具，让美食随心搭配都有高颜值。当心爱的她（他）还睡眼迷蒙，你已经为他煮上了咖啡，做好了美味的早餐，此刻醒来，便是向往中美好一天的开始。</p>
    <p>•关于周边</p>
    <p>如果想采购新鲜食材可以直接线上下单“盒马鲜生”，我们家在30分钟配送范围内。出社区有大型家乐福超市，步行至延安路银泰商圈仅5分钟。<br />
      说到吃的,周围好吃的实在太多,不想跑远的隔壁就有网红餐厅“小筑里”（《女儿们的恋爱》取景地）、碧桃小馆、海底捞､哥老倌､赠李白餐厅等等,都在离公寓五分钟路程的西湖银泰里,更多的私家推荐餐厅说来话长…
      <br />你以为离西湖只有几百米这就够了吗?来西湖怎能错过夜晚梧桐树挂满灯串的南山路､中国美院、音乐喷泉、南宋御街这些值得一去的地方？</p>
    <p>•关于交通</p>
    <p>地铁1号线“定安路”站距离公寓仅186米的。</p>
    <p>门口多个公交站点几乎可以无缝接驳任何一个目的地｡</p>
    <p>春暖花开的季节想要环湖骑行?完全没问题,出门随处可借的共享单车载着你乘着微风去领略杭州的美…</p>
  </div>
</nc-dialog>




