<div class="nc-layout">
  <div class="nc-header lay-header">
    <app-page-head [scene]="'houseDetail'" [showSearch]="true"></app-page-head>
  </div>

  <div class="nc-content" *ngIf="houseData">
    <div class="house-photo-container">
      <div class="nc-container photos-container" *ngIf="!isShowPhotoView">
        <div class="nc-row nc-image-container photos-review">
          <div class="nc-thumb-picture nc-col nc-xs-col-12 nc-sm-col-12 nc-md-col-8 nc-lg-col-6 nc-xl-col-6">
            <img (click)="openPhotoView(0)" [src]="photoSrc.src" [alt]="photoSrc.alt" />
          </div>
          <div class="nc-flex nc-flex-wrap nc-col nc-xs-col-12 nc-sm-col-12 nc-md-col-8 nc-lg-col-6 nc-xl-col-6">
            <div class="nc-thumb-picture nc-col nc-xs-col-6 nc-sm-col-6 nc-md-col-6 nc-lg-col-6 nc-xl-col-6"
                 *ngFor="let photo of photos;let i=index;">
              <img (click)="openPhotoView(photo.id)" [src]="photo.src" [alt]="photo.alt" />
            </div>
          </div>
        </div>
        <span class="photos-foot">
          <nc-button [type]="'cancel'" (click)="openPhotoView(0)">查看全部</nc-button>
        </span>
      </div>
      <nc-photo-view *ngIf="isShowPhotoView" [photos]="houseData.photoOptions" [(isShow)]="isShowPhotoView"
                     [curIndex]="curImgIndex">
      </nc-photo-view>
    </div>

    <div class="house-detail-container"  #HouseContent>
      <div class="house-detail-info nc-lg-col-10 nc-xl-col-10 nc-md-col-12 nc-xs-col-12 nc-sm-col-12">
        <div class="house-detail nc-lg-col-7 nc-xl-col-7 nc-md-col-12 nc-xs-col-12 nc-sm-col-12">
          <div class="house-detail-item" [class.detail-head-fixed]="isHeadFixed">
            <ul>
              <li *ngFor="let headItem of houseHeads" [class.active]="headItem.isActive">
                <a href="{{headItem.label}}">{{headItem.name}}</a>
              </li>
            </ul>
          </div>
          <div id="detail" class="house-detail-item">
            <app-house-detail-info [houseData]="houseData"></app-house-detail-info>
          </div>
          <div id="comment" class="house-detail-item">
            <app-house-detail-comment [comment]="houseData.comment"></app-house-detail-comment>
          </div>
          <div id="location" class="house-detail-item">
            <div class="detail-location-head">位置</div>
            <div class="detail-location-body">
              <div>{{houseData.city}}市，{{houseData.country}}</div>
              <div>{{houseData.text2}}</div>
            </div>
          </div>
          <div id="notice" class="house-detail-item">
            <div class="notice-head">须知</div>
            <div class="notice-body">
              <div class="notice-item">
                <div>基本要求</div>
                <div>不适合婴幼儿（2岁以下）及宠物入住，或不能为婴幼儿及宠物提供安全的住宿环境<br>
                  禁止吸烟、派对或活动<br>
                  15:00后可以随时入住，12:00前退房</div>
              </div>
              <div class="notice-item">
                <div>取消政策</div>
                <div>中等 - 预订确认后48小时之内可免费取消</div>
              </div>
              <div class="notice-item">
                <div>交易提示</div>
                <div>为了保护您的账号隐私和付款安全，请不要相信其它任何平台的折扣或礼金券代订，并始终在爱彼迎站内转账和交流。
                  <a href="javascript:void(0);" (click)="goJiaoyi()">查看详情</a>
                </div>
              </div>
            </div>
          </div>
          <div id="landlord" class="house-detail-item">
            <div class="landlord-head">房东</div>
            <div class="landlord-item landlord-owner">
              <span class="owner-info">
                <span>{{houseData.owner.name}}
                  <span class="contact-land" (click)="isShowLogin = true">联系房东</span></span>
                <span>{{houseData.country_en}}, {{houseData.country}} · 注册时间：{{getRegistime(houseData.registerTime)}}</span>
                <span>
                  <span>
                    <nc-badge [type]="'warn'" [count]="7"></nc-badge>
                    条评价</span>
                  <span>
                    <img class="_1u6feuz3" src="https://a0.muscache.com/airbnb/static/badges/verified_badge-6ee370f5ca86a52ed6198fac858ac1f4.png" width="100%" height="100%" alt="已验证">
                    已验证
                  </span>
                </span>
              </span>
              <span class="owner-img">
                <nc-avater [type]="'circle'" [size]="'large'" [imgSrc]="houseData.owner?.avatar"></nc-avater>
              </span>
            </div>
            <div class="landlord-item landlord-jieshao">
              <div>自我介绍</div>
              <div># 野宿# 这个品牌是我一个 不知名模特和一位杭州知名设计师野草共同建立的｡<br>
                我们最开始想做民宿的原因其实很简单就是想把自己的想法表达出来｡<br>
                我是属于那种 一周要出差5天甚至更多的,每次出门呢都是会订民宿,但是这么久了我却一直没有住到过我最满意的房子｡所以我把这个想法告诉了我的搭档野草 我们不谋而合的决定 去做民宿,做我们喜欢的,把我们的心里表达给大家 ｡ </div>
            </div>
            <div class="landlord-item landlord-jieshao">
              <div>与房客的互动</div>
              <div>入住期间有任何问题可以随时沟通,只要您有需要,我就随时都在｡</div>
            </div>
          </div>
        </div>
        <div class="house-get nc-lg-col-5 nc-xl-col-5 nc-md-col-12 nc-xs-col-12 nc-sm-col-12">
          <div class="house-get-container" [ngClass]="{'order-fixed':isHeadFixed,'order-fix-bottom':isOrderBottom}">
            <app-house-detail-order [houseData]="houseData" (informChange)="informChange()"></app-house-detail-order>
          </div>
        </div>
      </div>

      <div class="other-house-info nc-lg-col-10 nc-xl-col-10 nc-md-col-12 nc-xs-col-12 nc-sm-col-12">
        <div #OtherHouse>类似房源</div>
        <div class="other-list">
          <div *ngFor="let cityHouse of cityOtherHouses" [routerLink]="['/house',cityHouse.id]"
               class="hot-city-house nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
            <app-hot-city-house-card [house]="cityHouse"></app-hot-city-house-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nc-footer nc-flex nc-content-center">
    <div class="lay-foot nc-xl-col-9 nc-lg-col-9 nc-md-col-10 nc-sm-col-12 nc-xs-col-12">
      <app-page-foot></app-page-foot>
    </div>
  </div>
</div>
<div class="list-loading" *ngIf="showLoading">
  <nc-loading [type]="'horizontal'" [loadSize]="'min'"></nc-loading>
</div>

<app-page-login [(isDisplay)]="isShowLogin" (toRegisterEvent)="handleToRegisterEvnent()"></app-page-login>
<app-page-register [(isDisplay)]="isShowRegister" (toLoginEvent)="handleToLoginEvnent()"></app-page-register>

