<div class="plus-inpire-group" *ngIf="!showLoading">
  <div class="plus-item-head">
    <span>和爱彼迎Plus一起收获灵感</span>
  </div>
  <div class="plus-item-content">
    <nc-list-group-horizontal [stepWidth]="240" [hideOper]="true">
      <ul class="nc-list-group nc-flex list-group-horizontal">
        <li *ngFor="let inpire of inpireList" [routerLink]="['/plus/inspire',inpire.id]"
            class="nc-list-group-item nc-align-item-center">
          <app-plus-inpire-card [inpireHouse]="inpire"></app-plus-inpire-card>
        </li>
      </ul>
    </nc-list-group-horizontal>
  </div>
</div>

<app-page-waiting *ngIf="showLoading"></app-page-waiting>
