.trip-classic-city {
  width: 100%;
  margin-top: 20px;
  .trip-classic-city-head {
    margin-bottom: 20px;
    span {
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
    }
  }
  .trip-classic-city-list {
    width: 100%;
    .trip-classic-city-body {
      padding: 6px;
      display: inline-block;
      box-sizing: border-box;
      cursor: pointer;
      float: left;
      .city-img {
        width: 100%;
        margin-bottom: 5px;
        img {
          width: inherit;
          height: 260px;
        }
      }
      .city-foot {
        width: 100%;
        margin-bottom: 5px;
        div {
          color:#595959;
          &:first-child {
            font-size: 14px;
          }
          &:last-child {
            font-size: 12px;
          }
        }
      }
    }
  }
}
