<div class="trip-hot-city nc-flex nc-row-column"  *ngIf="!showLoading">
  <div class="hot-city-head">热门目的地</div>
  <div class="hot-city-list">
    <nc-list-group-horizontal [stepWidth]="150" [hideOper]="true" [operation]="cityOper" [resetGroup]="!showLoading">
      <ul class="nc-list-group list-group-horizontal">
        <li class="nc-list-group-item" *ngFor="let city of cityList">
          <button class="nc-list-button" (click)="selectCity(city)" [class.active]="city.active">
            {{city.title}}</button>
        </li>
      </ul>
    </nc-list-group-horizontal>
  </div>
  <div class="hot-city-body">
    <div *ngFor="let cityHouse of selectCityHouses" [routerLink]="['/house',cityHouse.id]"
         class="hot-city-house nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-6 nc-xs-col-6">
      <app-hot-city-house-card [house]="cityHouse"></app-hot-city-house-card>
    </div>
  </div>
  <div class="hot-city-foot">
    <span (click)="goMoreHouses()">查看更多{{selectedCity?.title}}房源<span class="fa fa-angle-right"></span></span>
  </div>
</div>

<app-page-waiting *ngIf="showLoading"></app-page-waiting>
