@import "../../app-common";

.trip-classic-city {
  margin-top: 20px;
  .trip-classic-city-head {
    margin-bottom: 20px;
    span {
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
    }
  }
  .trip-classic-city-list {
    .city-img {
      width: 100%;
      background-color: #d6e0f5;
      img {
        height: 260px;
        display: inherit;
      }
    }
    .city-foot {
      margin-bottom: 5px;
      div {
        color:#595959;
        &:first-child {
          font-size: 14px;
        }
        &:last-child {
          font-size: 12px;
        }
      }
    }
  }
  .trip-group-img-list {
    width: 100%;
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .trip-classic-city .trip-classic-city-list .city-img img {
    height: 185px;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
  .trip-classic-city .trip-classic-city-list .city-img img {
    height: 200px;
  }
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
  .trip-classic-city .trip-classic-city-list .city-img img {
    height: 200px;
  }
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
  .trip-classic-city .trip-classic-city-list .city-img img {
    height: 260px;
  }
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
