<div class="trip-contact">
  <div class="trip-contact-item nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="contact-item-img">
      <img src="https://z1.muscache.cn/airbnb/static/homepages/china/icons/phone_icon-1ab8d71426288cfc4b187b2228d33aa0.png" alt="phone" />
    </div>
    <div class="contact-item-content">
      <div>24小时中文客服</div>
      <div>400-841-0328</div>
    </div>
  </div>
  <div class="trip-contact-item nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="contact-item-img">
      <img src="https://z1.muscache.cn/airbnb/static/homepages/china/icons/alipay_icon_2x-b02a7518b9ccf6eda87a38700ee54f85.png" alt="zhifubao" />
    </div>
    <div class="contact-item-content">
      <div>安全支付</div>
      <div>支付宝付款已向中国用户开通</div>
    </div>
  </div>
  <div class="trip-contact-item nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="contact-item-img">
      <img src="https://z1.muscache.cn/airbnb/static/homepages/china/icons/sesame_credit@2x-18ded65dcd6b35e51339724b059f3e8c.png" alt="zhimaxinyong" />
    </div>
    <div class="contact-item-content">
      <div>芝麻信用</div>
      <div>实名认证房东房客信息，真实可靠</div>
    </div>
  </div>
</div>
