.trip-high-expen {
  margin-top: 20px;
  .trip-high-expen-head {
    margin-bottom: 20px;
    span:first-child {
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
    }
    span:last-child {
      font-size: 14px;
      color: #666;
    }
  }
  .trip-high-exper-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
