<div class="trip-block-container trip-story nc-flex nc-row-column">
  <div class="trip-block-head trip-story-head nc-flex nc-row-column">
    <span>精彩旅行故事</span>
  </div>
  <div class="trip-block-img-list trip-story-list">
    <div *ngFor="let story of storyList;let i=index;" [routerLink]="['/story/detail',story.id]"
         class="trip-block-img-body nc-xl-col-3 nc-lg-col-3 nc-md-col-6 nc-sm-col-6 nc-xs-col-6"
          [ngClass]="{'nc-xs-display-none': mdHideIndexs.includes(i), 'nc-sm-display-none': mdHideIndexs.includes(i), 'nc-md-display-none': mdHideIndexs.includes(i), 'nc-lg-display-inline-block': mdHideIndexs.includes(i)}">
      <app-trip-story-card [story]="story"></app-trip-story-card>
    </div>
  </div>
  <div class="trip-block-foot">
    <span class="foot-operzz" (click)="goMoreStory()">显示全部
      <span class="fa fa-angle-right"></span></span>
  </div>
</div>

