.trip-search {
  width: 100%;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 1px #e6e6e6;
  .trip-search-item {
    height: 60px;
    display: inline-block;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-right:none;
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-right:solid 1px #ccc;
      border-radius: 0 2px 2px 0;
    }
    &.trip-search-date {
      color:#666;
      position: relative;
      > span {
        font-size: 14px;
        cursor: pointer;
        width: 100%;
        height: inherit;
        display: inline-flex;
        align-items: center;
        span:first-child {
          margin: 0 10px 0 5px;
        }
      }
      .date-selector {
        position: absolute;
        left: 0;
        top: 101%;
        z-index: 10;
      }
    }
    &.trip-search-person {
      color:#666;
      position: relative;
      > span {
        font-size: 14px;
        cursor: pointer;
        width: 100%;
        height: inherit;
        display: inline-flex;
        align-items: center;
        span:first-child {
          margin: 0 10px 0 5px;
        }
      }
      .trip-person-set {
        position: absolute;
        left:0;
        top:101%;
        z-index: 10;
      }
    }
    &.expend {
      border-bottom-color: #1a75ff;
    }
  }
}
