.trip-story {
  margin-top: 20px;
  .trip-story-head {
    margin-bottom: 20px;
    span {
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
    }
  }
  .trip-story-list {
    width: 100%;
  }
}

