<div class="trip-block-container trip-story nc-flex nc-row-column">
  <div class="trip-block-head trip-story-head nc-flex nc-row-column">
    <span>精彩旅行故事</span>
  </div>
  <div class="trip-block-img-list trip-story-list">
    <div *ngFor="let story of storyList" [routerLink]="['/story/detail',story.id]"
         class="trip-block-img-body nc-xl-col-3 nc-lg-col-3 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <app-trip-story-card [story]="story"></app-trip-story-card>
    </div>
  </div>
  <div class="trip-block-foot">
    <span (click)="goMoreStory()">显示全部
      <span class="fa fa-angle-right"></span></span>
  </div>
</div>

