<div class="trip-block-container trip-high-expen nc-flex nc-row-column">
  <div class="trip-block-head trip-high-expen-head nc-flex nc-row-column">
    <span>高分体验</span>
    <span>在下趟旅程中，不妨预订由本地达人组织的体验活动</span>
  </div>
  <div class="trip-block-img-list trip-high-exper-list">
    <div *ngFor="let exper of experList;let i=index;" (click)="goExperStory(exper)"
         class="trip-block-img-body nc-xl-col-3 nc-lg-col-3 nc-md-col-6 nc-sm-col-12 nc-xs-col-12"
         [ngClass]="{'nc-md-display-none': mdHideIndexs.includes(i), 'nc-lg-display-inline-block': mdHideIndexs.includes(i)}">
      <app-high-expertence-card [exper]="exper"></app-high-expertence-card>
    </div>
  </div>
  <div class="trip-block-foot">
    <span (click)="goMoreExper()">显示所有体验
      <span class="fa fa-angle-right"></span></span>
  </div>
</div>

