<div class="trip-house-plus nc-flex nc-row-column">
  <div class="trip-house-plus-head nc-flex nc-row-column">
    <span>诚意推出爱彼迎Plus</span>
    <span>品质和舒适性经过验证的精选房源</span>
  </div>
  <div class="trip-house-plus-body">
    <img src="https://z1.muscache.cn/4ea/air/v2/pictures/ea6285d9-5352-4447-b13d-b39bfc92dfe5.jpg?t=c:w1131-h343,r:w1131-h343-sfit,e:fjpg-c75"
         alt="Airbnb Plus branding">
    <span class="trip-house-button">
      <nc-button [type]="'cancel'" [height]="'50px'">浏览 Plus 房源
        <span class="fa fa-chevron-right"></span></nc-button>
    </span>
  </div>
</div>
