.trip-inspiration {
  width: 100%;
  margin-top: 20px;
  .trip-inspiration-head {
    span:first-child {
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
    }
    span:last-child {
      font-size: 14px;
      color: #666;
    }
  }
  .trip-inspiration-list {
    .trip-item-img {
      margin-bottom: 10px;
      background-color: #d6e0f5;
      img {
        height: 260px;
        display: inherit;
      }
    }
    .trip-item-foot {
      display: inline-flex;
      flex-direction: column;
      div {
        margin-bottom: 5px;
        &:first-child {
          font-size: 12px;
          color:#666;
        }
        &:nth-child(2) {
          font-weight: 600;
          color: #404040;
        }
        &:last-child {
          font-size: 13px;
          color:#666;
        }
      }
    }
  }
}
