@import "../../app-common";

.trip-high-expen {
  margin-top: 20px;
  .trip-high-expen-head {
    margin-bottom: 20px;
    span:first-child {
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
    }
    span:last-child {
      font-size: 14px;
      color: #666;
    }
  }
  .trip-high-exper-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .trip-high-expen .trip-block-foot span.foot-operzz {
    color: #1a75ff;
    display: flex;
    width: 100%;
    border: solid 1px #1a75ff;
    border-radius: 4px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
  .trip-high-expen .trip-block-foot span.foot-operzz {
    color: #1a75ff;
  }
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
  //width: 100%;
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
}
