.city-house-container {
  width: 100%;
  .city-house {
    padding: 6px;
    display: inline-block;
    box-sizing: border-box;
    .city-house-content {
      width: 100%;
      height: 180px;
      border: solid 1px #ccc;
    }
  }
}
