.high-expertence-card {
  width: 100%;
  .high-expert-img {
    width: inherit;
    margin-bottom: 5px;
    position: relative;
    background-color: #d6e0f5;
    img {
      width: inherit;
      height: 200px;
      border-radius: 4px;
      display: inherit;
    }
    .exper-love {
      position: absolute;
      z-index: 5;
      top: 10px;
      right: 10px;
    }
  }
  .high-expert-foot {
    width: inherit;
    margin-bottom: 5px;
    div {
      font-size: 14px;
      margin-bottom: 5px;
      &:first-child {
        font-size: 12px;
        color: #999;
      }
      &:nth-child(2) {
        font-size: 16px;
        color: #333333;
        font-weight: 800;
      }
      &:nth-child(3) {
        font-size: 13px;
        color: #666666;
      }
      &:last-child {
        display: inline-flex;
        align-items: center;
        span {
          color:#999;
          font-size: 12px;
          &:last-child {
            margin-left: 5px;
          }
        }
      }
    }
  }
}



