@import "../app-common";

.nc-layout {
  .lay-header {
    position: fixed;
    background: #fff;
    z-index: 5;
    .experience-head {
      width: inherit;
      border-bottom: solid 1px #e6e6e6;
    }
  }
  .nc-content {
    position: relative;
    width: 100%;
    padding-top: 150px;
    .exper-content-item-list {
      margin: 10px auto;
      .exper-content-item {
        width: 100%;
        padding: 40px 0;
        .exper-content-item-head {
          width: inherit;
          margin-bottom: 20px;
          div {
            width: inherit;
            &.item-head {
              font-size: 28px;
              font-weight: 800;
              color:#595959;
            }
            &.item-head-title {
              margin-bottom: 10px;
              color:#999;
            }
          }
        }
        .exper-content-item-list {
          width: inherit;
          display: flex;
          flex-wrap: wrap;
          .experience-item {
            padding: 6px;
            display: inline-block;
            box-sizing: border-box;
            cursor: pointer;
            margin-bottom: 2px;
          }
        }
        .exper-content-item-foot {
          width: inherit;
          span {
            font-size: 16px;
            font-weight: 800;
            color: #3399ff;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
            .fa {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .nc-layout .nc-content {
    padding-top: 120px;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
  .nc-layout .nc-content {
    padding-top: 130px;
  }
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
  .nc-layout .nc-content {
    padding-top: 150px;
  }
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
  //width: 100%;
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
