<div class="nc-layout">
  <div class="nc-header lay-header">
    <div class="experience-head">
      <app-page-head [scene]="'city'" [showSearch]="true"></app-page-head>
    </div>
  </div>

  <div class="nc-content">
    <div class="exper-cancel-policy nc-xl-col-10 nc-lg-col-10 nc-md-col-11 nc-sm-col-12 nc-xs-col-12">
      <div class="policy-head">爱彼迎体验取消政策 </div>
      <div class="policy-content">
        <div class="policy-content-item">
          <div class="content-item-head">退订政策 </div>
          <div class="content-item-text">
            <ul>
              <li>如需获得全额退款，请至少在体验开始前7天取消。 </li>
              <li>此外，购买后24小时内退订体验，可获全额退款。 </li>
            </ul>
          </div>
        </div>
        <div class="policy-content-item">
          <div class="content-item-head">正在重新预约 </div>
          <div class="content-item-text">
            <ul>
              <li>如需重新安排体验的日期或时间，您可以在距离体验开始至少72小时前更改。 </li>
              <li>如果您重新安排体验，我们将根据体验的原购买时间和原开始日期执行退订政策。 </li>
            </ul>
          </div>
        </div>
        <div class="policy-content-item">
          <div class="content-item-head">账号验证 </div>
          <div class="content-item-text">如果您在购买体验后3天内无法完成账号验证，该体验将被取消，您将获得全额退款。 </div>
        </div>
        <div class="policy-content-item">
          <div class="content-item-head">天气 </div>
          <div class="content-item-text">无论是在体验开始之前还是开展期间，如果天气因素成为安全隐患，体验达人都可以取消体验。 如果发生这种情况，您将获得全额退款。 </div>
        </div>
        <div class="policy-content-item">
          <div class="content-item-head">紧急情况 </div>
          <div class="content-item-text">如果您因紧急情况需要取消预订，请参阅特殊情况政策。 我们可能会要求您提供相关证明文件。 </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nc-footer nc-flex nc-content-center">
    <div class="lay-foot nc-xl-col-10 nc-lg-col-10 nc-md-col-11 nc-sm-col-12 nc-xs-col-12">
      <app-page-foot></app-page-foot>
    </div>
  </div>
</div>

