<div class="exper-overview">
  <div class="overview-item">
    <img src="https://a0.muscache.com/airbnb/static/packages/9733e0893560691b9af2e4b41bc03a77.jpg" />
    <section>
      <div class="item-text-head">什么是爱彼迎体验？</div>
      <div class="item-text-content">
        爱彼迎体验是由当地人设计并带队进行的活动。它不只是普通的旅游项目或课程，而且它们将让参与者亲历独特的当地生活。无需家有空房，任何人都可借此机会与他人分享自己的业余爱好和技能专长。
      </div>
    </section>
  </div>

  <div class="overview-item photo-view nc-md-display-flex nc-xs-display-none">
    <div class="photo-title-item nc-xl-col-8 nc-lg-col-8 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <div class="title-item-head">与世界分享你的热情</div>
      <div class="title-item-content">
        向参与者介绍你最热衷的活动或最热爱的地方，我们会协助你设计自己体验，并提供一定的帮助资源
      </div>
    </div>
    <div class="photo-item nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <app-share-exper-card [expers]="shareExpers[0].exper"></app-share-exper-card>
    </div>
  </div>

  <div class="overview-item photo-view nc-md-display-flex nc-xs-display-none">
    <div class="photo-item nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <app-share-exper-card [expers]="shareExpers[1].exper"></app-share-exper-card>
    </div>
    <div class="photo-title-item nc-xl-col-8 nc-lg-col-8 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <div class="title-item-head">结识有趣的人</div>
      <div class="title-item-content">
        结识一帮和自己有共同爱好的旅行者和当地人，你也许能交几个新朋友，向志同道合的小伙伴学几手，甚至帮他人培养一个新爱好
      </div>
    </div>
  </div>

  <div class="overview-item exper-view nc-md-display-flex nc-xs-display-none">
    <div class="exper-view-item">
      <div class="title-item-head">你的体验你做主</div>
      <div class="title-item-content">
        何时开展体验由你决定，你可以每天都开展体验，也可以按周或按月开展体验；体验的价格和团体人数也由你决定，你还可以随时在爱彼迎网站或手机应用上管理体验
      </div>
    </div>
  </div>

  <div class="overview-item exper-view-2 nc-md-display-flex nc-xs-display-none">
    <div class="exper-view-item">
      <div class="title-item-head">做一门无需预支成本的生意</div>
      <div class="title-item-content">
        你在爱彼迎上将有自己专属的网页，以便旅行者能预订体验；爱彼迎还为你提供付款处理服务、24小时用户支持及责任保险
      </div>
    </div>
  </div>

</div>

