@import "../../../app-common";

.exper-others {
  width: 100%;
  section {
    width: 60%;
    color: #666;
    margin: 5px auto 30px;
    text-align: center;
    .item-text-head {
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 15px;
    }
  }
  .exper-others-head {
    width: inherit;
    padding: 20px;
    box-sizing: border-box;
  }
  .exper-item-list {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    .experience-item {
      padding: 6px;
      display: inline-block;
      box-sizing: border-box;
      cursor: pointer;
      margin-bottom: 2px;
    }
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .exper-others section {
    width: 80%;
    margin: 5px auto 10px;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
