<div class="nc-layout">
  <div class="nc-header lay-header">
    <div class="layout-head">
      <app-page-head [scene]="'selfcenter'" [showSearch]="true"></app-page-head>
    </div>
  </div>
  <div class="nc-content" *ngIf="!showLoading">
    <div class="content-container nc-xl-col-10 nc-lg-col-10 nc-md-col-11 nc-sm-col-12 nc-xs-col-12">
      <div class="content-tabs nc-xl-col-3 nc-lg-col-3 nc-md-col-3 nc-sm-col-12 nc-xs-col-12">
        <div class="tab-item" [class.active]="tabItem.name === curTab"
             *ngFor="let tabItem of tabItems" (click)="switchTab(tabItem)">
          {{tabItem.label}}
        </div>
        <div class="tab-oper">
          <nc-button [type]="'cancel'" [style]="'custom'" [width]="'100%'"
                     [height]="'36px'" [routerLink]="['/selfCenter/invite']">邀请好友</nc-button>
        </div>
      </div>
      <div class="content-body nc-xl-col-9 nc-lg-col-9 nc-md-col-9 nc-sm-col-12 nc-xs-col-12">
        <app-user-notify *ngIf="curTab === 'notify'"></app-user-notify>

        <app-user-payment *ngIf="curTab === 'payment'"></app-user-payment>

        <app-user-payout *ngIf="curTab === 'payout'"></app-user-payout>

        <app-user-privacy *ngIf="curTab === 'privacy'"></app-user-privacy>

        <app-user-apps *ngIf="curTab === 'apps'"></app-user-apps>

        <app-user-badge *ngIf="curTab === 'badge'"></app-user-badge>
      </div>
    </div>
  </div>
  <div class="nc-content" *ngIf="showLoading">
    <app-page-waiting></app-page-waiting>
  </div>

  <div class="nc-footer nc-flex nc-content-center">
    <div class="lay-foot nc-xl-col-10 nc-lg-col-10 nc-md-col-11 nc-sm-col-12 nc-xs-col-12">
      <app-page-foot></app-page-foot>
    </div>
  </div>
</div>
