.user-notify {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .notify-item {
    box-sizing: border-box;
    padding: 0 10px 10px;
    margin-bottom: 10px;
  }
}
.user-data-container {
  display: block;
  width: 100%;
  border: solid 1px #dce0e0;
  .user-data-head {
    width: inherit;
    padding: 8px 20px;
    box-sizing: border-box;
    background-color: #edefed;
    font-size: 16px;
    color: #666;
    border-bottom: solid 1px #ccc;
  }
  .user-data-body {
    width: inherit;
    padding: 5px 20px;
    box-sizing: border-box;
    max-height: 220px;
    overflow-y: auto;
    .data-body-title {
      padding: 12px 0;
      box-sizing: border-box;
      font-size: 14px;
      color: #666;
      border-bottom: solid 1px #e6e6e6;
      .msg-phone {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        span {
          font-size: 14px;
          color: #666;
          display: inline-flex;
          align-items: center;
          &:first-child {
            width: 30%;
          }
          &:last-child {
            width: 50%;
          }
        }
      }
    }
    .data-body-content {
      width: 100%;
      padding: 12px 0;
      box-sizing: border-box;
      font-size: 14px;
      color: #666;
      .data-message {
        width: inherit;
        .data-message-item {
          width: inherit;
          margin: 10px 0;
          .item-head {
            color: #333;
            font-weight: 600;
            span {
              margin-left: 5px;
            }
          }
          .item-title {
            font-size: 12px;
            padding-left: 36px;
            color: #999;
          }
          &.data-contact-item {
            padding: 5px 0;
            display: flex;
            justify-content: space-between;
            span {
              font-size: 14px;
              color: #666;
              display: inline-flex;
              align-items: center;
              &:first-child {
                width: 30%;
              }
              &:last-child {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

.user-oper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
