<div class="user-payout">
  <div class="payout-item">
    <div class="payout-item-head">收款方式</div>
    <div class="payout-item-text">
      当您收到一笔预订的付款时，我们把这笔付款称为「收款」。我们安全的付款系统支持多种收款方式，您可以在下方进行设置。
      <span (click)="goQuestion()">前往常见问题。</span>
    </div>
  </div>

  <div class="payout-item">
    <div class="payout-item-head">要获得收款，您需要设置一个收款方式</div>
    <div class="payout-item-text">
      爱彼迎在房客预订入住的时间约24小时后发放收款。款项到账时间取决于您的收款方式。
      <span (click)="goQuestion2()">了解更多</span>
    </div>
  </div>
</div>
