<div class="publish-content">
  <div class="step-head">您提供的便利设施有哪些？</div>
  <div class="step-body">
    <div class="step-body-item">
      <div class="body-item-head">基本设施</div>
      <div class="body-item-content">
        基本设施
      </div>
    </div>

    <div class="step-body-item">
      <div class="body-item-head">配套设施</div>
      <div class="body-item-content">
        配套设施
      </div>
    </div>

    <div class="step-body-item">
      <div class="body-item-head">安全设施</div>
      <div class="body-item-content">
        安全设施
      </div>
    </div>
  </div>
</div>
