<div class="nc-layout">
  <div class="nc-header lay-header">
    <div class="layout-head">
      <app-page-head [scene]="'selfcenter'" [showSearch]="true"></app-page-head>
    </div>
  </div>
  <div class="nc-content">
    <div class="content-container nc-xl-col-11 nc-lg-col-11 nc-md-col-11 nc-sm-col-12 nc-xs-col-12">
      <nc-step [type]="'underline'" [(stepIndex)]="curStepIndex" [stepItems]="stepItems" [id]="'step01'">
        <div class="content">
          <div *ngIf="curStepIndex === 0">
            <app-publish-basic (basicChange)="stepProcChange($event)"></app-publish-basic>
          </div>
          <div *ngIf="curStepIndex === 1">
            <app-publish-room (roomChange)="stepProcChange($event)"></app-publish-room>
          </div>
          <div *ngIf="curStepIndex === 2">
            <app-publish-rest-room (restChange)="stepProcChange($event)"></app-publish-rest-room>
          </div>
          <div *ngIf="curStepIndex === 3">
            <app-publish-facility (facityChange)="stepProcChange($event)"></app-publish-facility>
          </div>
          <div *ngIf="curStepIndex === 4">
            <app-publish-site (siteChange)="stepProcChange($event)"></app-publish-site>
          </div>
        </div>
      </nc-step>
    </div>
    <span class="back-btn">
      <nc-button [type]="'cancel'" [routerLink]="['/selfCenter/share/beHoster']">返回</nc-button>
    </span>
  </div>
</div>
