.story-recommend-detail {
  width: 100%;
  margin: 30px 0;
  .recommend-detail-head {
    width: inherit;
    display: flex;
    justify-content: space-between;
    span {
      &:first-child {
        font-size: 30px;
        font-weight: 800;
        color: #333;
      }
    }
  }
  .recommend-category {
    width: 100%;
    margin: 30px 0;
    .recommend-category-head {
      width: inherit;
      padding: 5px 0;
      font-size: 24px;
      font-weight: 500;
      color:#595959;
      margin-bottom: 10px;
    }
    .recommend-category-list {
      width: inherit;
      .nc-list-group-item {
        border: solid 1px #d9d9d9;
        margin-right: 20px;
        cursor: pointer;
        border-radius: 4px;
        &:last-child {
          margin-right: 0;
        }
        .recomd-item-img {
          display: inline-flex;
          align-items: center;
          border: solid 1px #e6e6e6;
          border-radius: 2px;
          img {
            height: 80px;
            width: 120px;
            border-radius: 2px;
            background-color: #d6e0f5;
          }
        }
        .recomd-item-text {
          width: 80px;
          margin-left: 20px;
          div {
            font-size: 14px;
            color: #666;
            &:first-child {
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .recomd-story-content {
      width: inherit;
    }
    .recomd-story-foot {
      span {
        font-size: 16px;
        font-weight: 400;
        color: #595959;
        margin-top: 10px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        .fa {
          margin-left: 5px;
        }
      }
    }
  }
}

