.picked-storys {
  margin-bottom: 20px;
  .picked-storys-head {
    color: #333;
    font-size: 26px;
    font-weight: 800;
  }
  .story-list {
    width: 100%;
    &.story-nodata {
      font-size: 16px;
      color: #666;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .story-img {
      width: 100%;
      position: relative;
      img {
        width: inherit;
        height: 260px;
        border-radius: 4px;
      }
      .story-img-press {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .story-img-type {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #999;
      }
    }
    .story-foot {
      width: 100%;
      margin-bottom: 5px;
      .story-text {
        width: inherit;
        font-size: 14px;
        color:#666;
        span {
          color:#333;
          font-weight: 600;
          margin-right: 10px;
        }
      }
      .story-user {
        width: inherit;
        display: inline-flex;
        align-items: center;
        span {
          margin-right: 5px;
          font-size: 14px;
          color: #666;
        }
      }
    }
  }
  .list-loading {
    display: flex;
    justify-content: center;
  }
}
