<div class="home-detail-landord">
  <div class="home-landord-head">认识您的房东</div>
  <div class="home-landord-body">
    <div class="landord-item nc-xl-col-3 nc-lg-col-3 nc-md-col-4 nc-sm-col-12 nc-xs-col-12">
      <div class="landord-img">
        <img [src]="homeData.owner.avatar" />
        <div>{{homeData.owner.name}}</div>
      </div>
    </div>
    <div class="landord-item nc-xl-col-7 nc-lg-col-7 nc-md-col-4 nc-sm-col-12 nc-xs-col-12">
      <div>您好，我叫{{homeData.owner.name}}</div>
      <div class="nc-sm-display-none nc-md-display-block">{{homeData.owner.text}}</div>
      <div>与房客的互动</div>
      <div>在入住期间，房东会安排人在您需要时前往房源提供帮助</div>
    </div>
    <div class="landord-item nc-xl-col-2 nc-lg-col-2 nc-md-col-4 nc-sm-col-12 nc-xs-col-12">
      <div>注册时间：{{homeData.owner.timeShow }}</div>
      <div>回复率：100%</div>
      <div>回复时间：1小时内</div>
      <div class="landord-button" (click)="isShowLogin = true">联系房东</div>
    </div>
  </div>
</div>
<app-page-login [(isDisplay)]="isShowLogin" (toRegisterEvent)="handleToRegisterEvnent()"></app-page-login>
<app-page-register [(isDisplay)]="isShowRegister" (toLoginEvent)="handleToLoginEvnent()"></app-page-register>
