.home-detail-others {
  width: 100%;
  .home-others-head {
    width: inherit;
    font-size: 35px;
    font-weight: 800;
    margin: 10px 0 42px;
    color: #404040;
  }
  .home-others-body {
    width: inherit;
    margin: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    .plus-home-item {
      padding: 6px;
      display: inline-block;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}
