<div class="home-detail-rule">
  <div class="home-rule-head">取消政策及房屋守则</div>
  <div class="home-rule-body">
    <div class="home-rule">
      <div class="nc-xl-col-2 nc-lg-col-2 nc-md-col-2 nc-sm-col-12 nc-xs-col-12">取消政策</div>
      <div class="nc-xl-col-8 nc-lg-col-8 nc-md-col-8 nc-sm-col-12 nc-xs-col-12">
        <div>中等取消政策</div>
        <div>距离入住日期至少5天时取消预订可获全额退款（服务费除外）。距离入住日期不足5天时取消预订，首晚房费将不可退还，但剩余晚数可获50%退款。尚未入住、且在预订确认后48小时内取消的预订，将退还服务费。</div>
        <div (click)="goRuleDetail()">查看详情</div>
      </div>
    </div>
    <div class="home-rule">
      <div class="nc-xl-col-2 nc-lg-col-2 nc-md-col-2 nc-sm-col-12 nc-xs-col-12">房屋守则</div>
      <div class="nc-xl-col-8 nc-lg-col-8 nc-md-col-8 nc-sm-col-12 nc-xs-col-12">
        <div>一般守则</div>
        <div>14:00后可以随时入住，12:00前退房</div>
      </div>
    </div>
  </div>
</div>
