<div class="nc-layout">
    <div class="nc-header lay-header">
        <app-page-head [scene]="'houseDetail'" [showSearch]="true"></app-page-head>
    </div>

    <div class="nc-content" *ngIf="homeData">
        <div class="home-photo-container">
            <app-home-detail-photo [homeData]="homeData"></app-home-detail-photo>
        </div>

        <div class="home-detai-item">
            <app-home-detail-overview [homeData]="homeData"></app-home-detail-overview>
        </div>
        <div class="home-detai-item">
            <app-home-detail-content [homeData]="homeData"></app-home-detail-content>
        </div>
        <div class="home-detai-item">
            <app-home-detail-site [homeData]="homeData"></app-home-detail-site>
        </div>
        <div class="home-detai-item">
            <app-home-detail-comment [homeData]="homeData"></app-home-detail-comment>
        </div>
        <div class="home-detai-item">
            <app-home-detail-landord [homeData]="homeData"></app-home-detail-landord>
        </div>
        <div class="home-detai-item">
            <app-home-detail-order [homeData]="homeData"></app-home-detail-order>
        </div>
        <div class="home-detai-item">
            <app-home-detail-rule></app-home-detail-rule>
        </div>
        <div class="home-detai-item">
            <app-home-detail-others></app-home-detail-others>
        </div>
    </div>
</div>

<div class="list-loading" *ngIf="showLoading">
    <nc-loading [type]="'horizontal'" [loadSize]="'min'"></nc-loading>
</div>

