<div class="plus-special-house-group">
  <div class="plus-item-head">
    <span>爱彼迎Plus目的地精选</span>
    <span>浏览让您住得舒适，更舒心的超棒房源</span>
  </div>
  <!--div class="plus-item-content">
    <nc-list-group-horizontal [stepWidth]="240" [hideOper]="true">
      <ul class="nc-list-group nc-flex list-group-horizontal">
        <li *ngFor="let plusDest of plusDestList" (click)="goPlusDest(plusDest)"
            class="nc-list-group-item nc-align-item-center">
          <app-plus-dest-card [destination]="plusDest"></app-plus-dest-card>
        </li>
      </ul>
    </nc-list-group-horizontal>
  </div>-->
</div>
