@import "../app-common";

.plus-special-house-group {
  width: 100%;
  .plus-item-head {
    width: inherit;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 15px;
    span {
      margin-bottom: 5px;
      &:first-child {
        font-size: 24px;
        line-height: 30px;
        font-weight: 800;
        color: #333;
      }
      &:last-child {
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        color: #666;
      }
    }
  }
  .plus-item-content {
    width: inherit;
    margin-bottom: 15px;
    .nc-list-group {
      width: inherit;
      .nc-list-group-item {
        width: 400px;
        margin-right: 20px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .plus-special-house-group .plus-item-content .nc-list-group .nc-list-group-item {
    width: 270px;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
  .plus-special-house-group .plus-item-content .nc-list-group .nc-list-group-item {
    width: 300px;
  }
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
  .plus-special-house-group .plus-item-content .nc-list-group .nc-list-group-item {
    width: 400px;
  }
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
  //width: 100%;
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
