@import "../app-common";

.plus-contianer {
  width: 100%;
  padding-top: 150px;
  .plus-image {
    width: inherit;
    position: relative;
    img {
      width: inherit;
      height: 500px;
      background: #cce5ff linear-gradient(45deg,#ccf2ff,#fff,#ccf2ff);
    }
    .plus-main {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: fit-content;
      span {
        margin-bottom: 20px;
        &.plus-main-text {
          color: #333333;
        }
        &.plus-main-foot {
          color: #666666;
        }
      }
    }
  }
  .plus-body {
    padding: 15px 0;
    margin: 0 auto;
    .plus-item {
      width: 100%;
      padding: 20px 0;
      .plus-tablus {
        width: inherit;
        margin-bottom: 5px;
        position: relative;
        background-color: #d6e0f5;
        img {
          width: inherit;
          height: 300px;
          border-radius: 5px;
          display: inherit;
          background: #cce5ff linear-gradient(45deg,#ccf2ff,#fff,#ccf2ff);
        }
        .plus-tab-text {
          position: absolute;
          display: inline-flex;
          flex-direction: column;
          top: 50px;
          left: 45px;
          > span {
            margin-bottom: 10px;
            color: #fff;
            &:last-of-type {
              display: inline-block;
              max-width: 400px;
              font-size: 28px;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .plus-contianer .plus-image img {
    height: 280px;
  }
  .plus-contianer .plus-image .plus-main {
    top: 20px;
  }
  .plus-contianer .plus-body .plus-item .plus-tablus img {
    height: 240px;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
  .plus-contianer .plus-image img {
    height: 400px;
  }
  .plus-contianer .plus-image .plus-main {
    top: 100px;
  }
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
  .plus-contianer .plus-image img {
    height: 500px;
  }
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
  //width: 100%;
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
