<div class="plus-special-house-group">
  <div class="plus-item-head">
    <span>爱彼迎Plus特色房源</span>
    <span>因设计体贴周到而获得高评分的房源</span>
  </div>
  <div class="plus-item-content">
    <nc-list-group-horizontal [stepWidth]="240" [hideOper]="true">
      <ul class="nc-list-group nc-flex list-group-horizontal">
        <li *ngFor="let house of houseList" (click)="goSpecialHouse(house)"
            class="nc-list-group-item nc-align-item-center">
          <app-plus-special-house-card [house]="house"></app-plus-special-house-card>
        </li>
      </ul>
    </nc-list-group-horizontal>
  </div>
</div>
