@import "../../app-common";

.trip-story-card {
  width: 100%;
  .trip-story-img {
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    background-color: #d6e0f5;
    border-radius: 4px;
    img {
      width: inherit;
      height: 260px;
      border-radius: 4px;
      display: inherit;
    }
    .trip-story-img-press {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .trip-story-img-type {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #999;
    }
  }
  .trip-story-foot {
    width: 100%;
    margin-bottom: 5px;
    .story-foot-text {
      width: inherit;
      font-size: 14px;
      color:#666;
      span {
        color:#333;
        font-weight: 600;
        margin-right: 10px;
      }
    }
    .story-foot-user {
      width: inherit;
      display: inline-flex;
      align-items: center;
      span {
        margin-right: 5px;
        font-size: 14px;
        color: #666;
      }
    }
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .trip-story-card .trip-story-img img {
    height: 170px;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
  .trip-story-card .trip-story-img img {
    height: 200px;
  }
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
  .trip-story-card .trip-story-img img {
    height: 260px;
  }
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
  //width: 100%;
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
