<!--The content below is only a placeholder and can be replaced.-->
<div class="nc-layout">
  <div class="nc-header lay-header">
    <div class="lay-header-oper">
      <app-head-login-out></app-head-login-out>
    </div>
    <div class="lay-header-carousel">
      <nc-carousel [captions]="slideOptions" [effect]="'fade'" [height]="'520px'"
                   [timerlen]="10000" (carouselChange)="handleSlideChange($event)"></nc-carousel>
      <div class="header-carousel-title">
        <h2>{{slideOptionTitle.head}}</h2>
        <h2>{{slideOptionTitle.subHead}}</h2>
        <p>{{slideOptionTitle.description}}</p>
        <div class="carousel-title-process">
          <nc-progress *ngFor="let processitem of slideProcess" [value]="processitem.curValue"
                       [total]="processitem.total" [isDynamic]="processitem.isdynamic" [width]="'60px'"
                       [height]="4" [showProcValue]="false"></nc-progress>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of contents" class="nc-content nc-flex nc-content-center nc-align-item-center"
       style="height:300px;">
    content
  </div>
  <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:150px;">
    footer@Ng-Cat By Angular
  </div>
</div>

