<!--The content below is only a placeholder and can be replaced.-->
<div class="nc-layout">
  <div class="nc-header">
    <nc-carousel [captions]="slideOptions" [effect]="'fade'" [height]="'520px'" [timerlen]="10000"></nc-carousel>
  </div>
  <div *ngFor="let item of contents" class="nc-content nc-flex nc-content-center nc-align-item-center"
       style="height:300px;">
    content
  </div>
  <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:150px;">
    footer@Ng-Cat By Angular
  </div>
</div>

