.lay-header {
  position: relative;
  .lay-header-oper {
    position: absolute;
    top:0;
    z-index:10;
    width: inherit;
  }
  .lay-header-carousel {
    position: relative;
    .header-carousel-title {
      color:#fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left:150px;
      p {
        color:#fff;
      }
      .carousel-title-process {
        position: relative;
        top: 50px;
      }
    }
  }
}
