.exper-detail-location {
  width: 100%;
  padding: 15px 0;
  position: relative;
  img {
    width: inherit;
    height: 600px;
  }
  .exper-site {
    display: inline-block;
    height: 120px;
    width: 120px;
    border: solid 2px #008000;
    background-color: #47d1d1;
    opacity: 0.4;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 330px;
  }
}
