<div class="exper-detail-attention">
  <div class="attention-text nc-xl-col-4 nc-lg-col-4 nc-md-col-4 nc-sm-col-12 nc-xs-col-12">
    注意事项
  </div>
  <div class="attention-list nc-xl-col-8 nc-lg-col-8 nc-md-col-8 nc-sm-col-12 nc-xs-col-12">
    <div class="attention-item nc-xl-col-6 nc-lg-col-6 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <div class="attention-content">
        <div>取消政策</div>
        <div>所有体验预订都可以在支付确认后的24小时内取消并全额退款，<span (click)="goCancel()">查看取消政策</span>。</div>
      </div>
    </div>
    <div class="attention-item nc-xl-col-6 nc-lg-col-6 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <div class="attention-content">
        <div>沟通政策</div>
        <div>请始终通过爱彼迎沟通。 为保障付款安全，请勿使用爱彼迎网站或应用程序之外的方式进行转账或沟通。 <span (click)="goMore()">了解更多</span>。</div>
      </div>
    </div>
    <div class="attention-item nc-xl-col-6 nc-lg-col-6 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <div class="attention-content">
        <div>团体人数</div>
        <div>这个体验还有4个名额。</div>
      </div>
    </div>
    <div class="attention-item nc-xl-col-6 nc-lg-col-6 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <div class="attention-content">
        <div>年龄要求</div>
        <div>此体验没有年龄限制。 12岁以下儿童须有父母或家人陪同。</div>
      </div>
    </div>
    <div class="attention-item nc-xl-col-6 nc-lg-col-6 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <div class="attention-content">
        <div>政府签发的身份证件</div>
        <div>您将需要拍一张自拍照，自拍照需要与您身份证件上的照片相匹配，以帮助爱彼迎确认真正将要参加体验的是谁。这个步骤您只需要做一次就可以了。</div>
      </div>
    </div>
  </div>
</div>


