<div class="house-list-container">
  <div class="house-list-overview" *ngIf="curPageIndex === 1">
    <div class="list-content">
      <div *ngFor="let house of cityHouselist1"
           class="list-item nc-xl-col-3 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
        <app-play-card [playHouse]="house" [showLove]="true" [showFality]="true" [showUser]="true"></app-play-card>
      </div>
    </div>
    <div class="list-invite">
      <app-house-list-invite [imgSrc]="inviteImg"></app-house-list-invite>
    </div>
    <div class="list-content">
      <div *ngFor="let house of cityHouselist2"
           class="list-item nc-xl-col-3 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
        <app-play-card [playHouse]="house" [showLove]="true" [showFality]="true" [showUser]="true"></app-play-card>
      </div>
    </div>
    <div class="list-foot">
      <nc-pagination [pageNum]="16" [(curIndex)]="curPageIndex" (curIndexChange)="handleIndexChange()"></nc-pagination>
    </div>
  </div>
  <div class="house-list-overview" *ngIf="curPageIndex !== 1">
    <div class="list-content">
      <div *ngFor="let house of cityHouselist"
           class="list-item nc-xl-col-3 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
        <app-play-card [playHouse]="house" [showLove]="true" [showFality]="true" [showUser]="true"></app-play-card>
      </div>
    </div>
    <div class="list-foot">
      <nc-pagination [pageNum]="16" [(curIndex)]="curPageIndex" (curIndexChange)="handleIndexChange()"></nc-pagination>
    </div>
  </div>
</div>

<app-page-waiting *ngIf="showLoading"></app-page-waiting>
