.house-list-container {
  width: 100%;
  padding: 150px 30px 80px 30px;
  box-sizing: border-box;
  .house-list-overview {
    width: inherit;
    .list-content {
      width: inherit;
    }
    .list-invite {
      width: inherit;
    }
  }
}
