@import "../../app-common";
.plus-view-pick {
  width: 100%;
  background-color: #ffffff;
  padding: 30px 0;
  .resource-head {
    margin: 15px 0;
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    > div {
      width: 50%;
      margin: 10px;
      text-align: center;
      font-size: 16px;
      color: #666666;
      &:first-child {
        font-size: 32px;
        font-weight: 600;
      }
    }
  }
  .resource-content {
    width: inherit;
    .view-exper-list {
      width: inherit;
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0 30px;
      .view-exper {
        padding: 6px;
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
      }
    }
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .plus-view-pick .resource-head > div {
    width: 80%;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
