@import "../../app-common";
.plus-view-title {
  width: 100%;
  .view-title {
    width: 60%;
    margin: 45px auto;
    div {
      padding: 15px 0;
      color: #333333;
      font-size: 18px;
      text-align: center;
      &:first-child {
        font-size: 40px;
        font-weight: 500;
      }
    }
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .plus-view-title .view-title {
    width: 80%;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {

}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {

}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
