<div class="plus-view-quality">
  <div class="resource-head">
    <div>严选品质</div>
    <div>所有的爱彼迎Plus房源都经过现场考察，确保房源舒适、设计合理、质量始终如一。根据房客反馈的100多项房源亮点，我们对这些房源提出相应要求，比如，要有必备的便利设施、墙上要装饰艺术作品。</div>
  </div>
  <div class="resource-content">
    <div class="view-quality-list">
      <div class="view-quality-item">
        <div class="quaty-item-img">
          <img [src]="quatyImages[0]" />
        </div>
        <div class="quaty-item-text">
          <div class="item-text-head">舒适</div>
          <div class="item-text-title">优质的床品、舒适的床铺、保护隐私的百叶窗、精致的洗浴产品……这里的每个细节都经过推敲。爱彼迎Plus的房东们倾尽全力，确保您住得舒适。您还将获得以下服务：</div>
          <div class="item-text-content">
            <ul>
              <li>精心布置的家具</li>
              <li>充足的毛巾和蓬松的枕头</li>
              <li>有衣架可以悬挂衣物，有抽屉可以放置个人用品</li>
            </ul>
          </div>
          <div class="item-text-foot">EVA在巴塞罗那的整套公寓</div>
        </div>
      </div>
      <div class="view-quality-item">
        <div class="quaty-item-img">
          <img [src]="quatyImages[1]" />
        </div>
        <div class="quaty-item-text">
          <div class="item-text-head">设施完善</div>
          <div class="item-text-title">高速无线网络、数字电视、烹调用品齐全的厨房……您所需的一切便利设施这里应有尽有，让您像在家里一样自如。您还能获得以下服务：</div>
          <div class="item-text-content">
            <ul>
              <li>过滤水或瓶装水</li>
              <li>烹饪必需品，包括油、炊具、餐具</li>
              <li>熨斗和电吹风</li>
            </ul>
          </div>
          <div class="item-text-foot">MATT在洛杉矶的整栋客房</div>
        </div>
      </div>
      <div class="view-quality-item">
        <div class="quaty-item-img">
          <img [src]="quatyImages[2]" />
        </div>
        <div class="quaty-item-text">
          <div class="item-text-head">维护良好</div>
          <div class="item-text-title">爱彼迎Plus的房东付出了更多努力，确保房源更加干净、整洁，所有设施都能正常使用。比如，户外区域经过精心打理，浴室整洁、出水强劲。入住这些房源时，您还将享受到以下便利：</div>
          <div class="item-text-content">
            <ul>
              <li>所有家用电器都能正常使用</li>
              <li>在共享房源内，所有卧室都要有能够正常使用的门锁</li>
              <li>所有区域都干净整洁</li>
            </ul>
          </div>
          <div class="item-text-foot">ROB在开普敦的整栋民宅</div>
        </div>
      </div>
      <div class="view-quality-item">
        <div class="quaty-item-img">
          <img [src]="quatyImages[3]" />
        </div>
        <div class="quaty-item-text">
          <div class="item-text-head">精心设计</div>
          <div class="item-text-title">爱彼迎Plus的房东用一丝不苟的态度打造居住空间。这些房源设计优雅、个性鲜明，既精致美观，又让人觉得宾至如归。</div>
          <div class="item-text-foot">LILIAN JIN在上海的整套公寓</div>
        </div>
      </div>
    </div>
  </div>
</div>
