@import "../../app-common";

.plus-view-resource {
  width: 100%;
  background-color: #f2f2f2;
  padding: 30px 0;
  .resource-head {
    margin: 15px 0;
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    > div {
      width: 60%;
      margin: 10px;
      text-align: center;
      font-size: 16px;
      color: #666666;
      &:first-child {
        font-size: 32px;
        font-weight: 600;
      }
    }
  }
  .resource-content {
    width: inherit;
    .nc-list-group {
      width: inherit;
      .nc-list-group-item {
        width: 500px;
        margin-right: 20px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        img {
          width: inherit;
          height: 400px;
          border-radius: 3px;
          background-color: #f2f2f2;
        }
      }
    }
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {

}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
  .plus-view-resource .resource-content .nc-list-group .nc-list-group-item {
    width: 350px;
  }
  .plus-view-resource .resource-content .nc-list-group .nc-list-group-item img {
    height: 250px;
  }
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
  .plus-view-resource .resource-content .nc-list-group .nc-list-group-item {
    width: 400px;
  }
  .plus-view-resource .resource-content .nc-list-group .nc-list-group-item img {
    height: 300px;
  }
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
  .plus-view-resource .resource-content .nc-list-group .nc-list-group-item {
    width: 500px;
  }
  .plus-view-resource .resource-content .nc-list-group .nc-list-group-item img {
    height: 400px;
  }
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
