<div class="nc-layout">
  <div class="nc-header lay-header">
    <div class="exhibit-head">
      <app-page-head [scene]="'city'" [showSearch]="true" [searchText]="cityName"></app-page-head>
    </div>
    <div class="exhibit-head">
      <app-exhibit-select></app-exhibit-select>
    </div>
  </div>
  <div class="nc-content">
    <div class="city-content-item nc-xl-col-11 nc-lg-col-11 nc-md-col-11 nc-sm-col-12 nc-xs-col-12">
      <app-city-head [cityName]="cityName" [cityId]="cityId"></app-city-head>
    </div>
  </div>
</div>

<app-page-waiting *ngIf="showLoading"></app-page-waiting>
