<div class="city-head">
  <div>探索{{cityName}}</div>
  <div>
    <div [routerLink]="['/exhibit/houselist', 'London']">
      <img src="https://z1.muscache.cn/4ea/air/v2/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg?t=r:w375-h250-sfit,e:fjpg-c80" />
      <span>房源</span>
    </div>
    <div [routerLink]="['/experience/list', 'all', {city: 'London'}]">
      <img src="https://z1.muscache.cn/4ea/air/v2/pictures/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg?t=r:w375-h250-sfit,e:fjpg-c80" />
      <span>体验</span>
    </div>
  </div>
</div>
