<div class="nc-layout">
  <div class="nc-header lay-header">
    <div class="exhibit-head">
      <app-page-head [scene]="'city'" [showSearch]="true" [searchText]="cityName"></app-page-head>
    </div>
    <div class="exhibit-head">
      <app-exhibit-select></app-exhibit-select>
    </div>
  </div>
  <div class="nc-content" *ngIf="!showLoading">
    <div class="city-content-item-list nc-xl-col-11 nc-lg-col-11 nc-md-col-11 nc-sm-col-11 nc-xs-col-11">
      <div class="city-content-item">
        <app-city-head [cityName]="cityName" [cityId]="cityId"></app-city-head>
      </div>
      <div class="city-content-item">
        <app-city-experiences [experience]="highPressExper"></app-city-experiences>
      </div>
      <div class="city-content-item">
        <app-city-houses [houses]="cityData.houses"></app-city-houses>
      </div>
      <div class="city-content-item" *ngFor="let experItem of experList">
        <app-city-experiences [experience]="experItem"></app-city-experiences>
      </div>
    </div>
  </div>
  <div class="nc-content" *ngIf="showLoading">
    <app-page-waiting></app-page-waiting>
  </div>
</div>

