<div class="work-manage-activity">
 <div class="work-activity-item">
   <div class="photo-item nc-xl-col-5 nc-lg-col-5 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
     <img src="https://z1.muscache.cn/airbnb/static/59ad50c846cfafdbbaa8a8df6367b468.jpg" />
   </div>
   <div class="photo-title-item nc-xl-col-7 nc-lg-col-7 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
     <div class="title-item nc-xl-col-6 nc-lg-col-6 nc-md-col-8 nc-sm-col-11 nc-xs-col-11">
       <div class="title-item-head">在旅途中享受家的舒适</div>
       <div class="title-item-title">无论是出差还是被派任到新的城市，您都能找到配备高品质设施的房源。</div>
       <div class="title-item-text">
         <div>
           <span><span class="fa fa-check"></span></span>
           <span>无线网络和工作区</span>
         </div>
         <div>
           <span><span class="fa fa-check"></span></span>
           <span>干净的床上用品和毛巾，并配备电吹风</span>
         </div>
         <div>
           <span><span class="fa fa-check"></span></span>
           <span>自助入住及宽松取消预订</span>
         </div>
       </div>
       <div class="title-item-foot" [routerLink]="['/exhibit/houselist', 'all']">
         <span>浏览商务差旅型房源</span>
         <span class="fa fa-angle-right"></span>
       </div>
     </div>
   </div>
 </div>
  <div class="work-activity-item">
    <div class="photo-title-item nc-xl-col-7 nc-lg-col-7 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <div class="title-item nc-xl-col-6 nc-lg-col-6 nc-md-col-8 nc-sm-col-11 nc-xs-col-11">
        <div class="title-item-head">轻松开展团队建设活动</div>
        <div class="title-item-title">和同事一起参加拉面制作班或独木舟课，利用工余时间与同事建立情感联系。</div>
        <div class="title-item-foot" [routerLink]="['/experience/home']">
          <span>浏览爱彼迎体验</span>
          <span class="fa fa-angle-right"></span>
        </div>
      </div>
    </div>
    <div class="photo-item nc-xl-col-5 nc-lg-col-5 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <img src="https://z1.muscache.cn/airbnb/static/c9d2a84f730106d9e379bd928d355b2e.jpg" />
    </div>
  </div>
  <div class="work-activity-item">
    <div class="photo-item nc-xl-col-5 nc-lg-col-5 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <img src="https://z1.muscache.cn/airbnb/static/739950af22e14a8529cd6301e8ce9364.jpg" />
    </div>
    <div class="photo-title-item nc-xl-col-7 nc-lg-col-7 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <div class="title-item nc-xl-col-6 nc-lg-col-6 nc-md-col-8 nc-sm-col-11 nc-xs-col-11">
        <div class="title-item-head">激发创造力的房源</div>
        <div class="title-item-title">想要换个地方寻找灵感？ 不妨和团队成员在全新的工作空间里讨论交流，激发不一样的创意火花。</div>
        <div class="title-item-foot" [routerLink]="['/exhibit/houselist', 'all']">
          <span>查看配备无线网络的房源</span>
          <span class="fa fa-angle-right"></span>
        </div>
      </div>
    </div>
  </div>
</div>
