<div class="work-manage-mart">
  <div class="photo-item nc-xl-col-6 nc-lg-col-6 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <img src="https://z1.muscache.cn/airbnb/static/c1dba85048f87a34551d4d52a9101395.jpg" />
  </div>
  <div class="photo-title-item nc-xl-col-6 nc-lg-col-6 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="title-item nc-xl-col-7 nc-lg-col-7 nc-md-col-8 nc-sm-col-10 nc-xs-col-10">
      <div class="title-text">
        「有了爱彼迎，我们的自主性大大提高。比如说，每天晚上我们可以自己做饭，而不用出门用餐。 这样一来你会觉得自己成了社区中的一员，而不是访客。」
      </div>
      <div class="title-foot">
        <div>MARTA KUTT</div>
        <div>Transferwise经理</div>
      </div>
    </div>
  </div>
</div>
