<div class="work-manage-contact">
  <div class="work-contact-item nc-xl-col-6 nc-lg-col-6 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="contact-item nc-xl-col-7 nc-lg-col-7 nc-md-col-8 nc-sm-col-10 nc-xs-col-10">
      <div class="contact-head">科学设计，保障安全</div>
      <div class="contact-title">无论是安全的支付系统，还是先前房客的评价，安全性始终是爱彼迎的重要考量。</div>
      <div class="contact-foot" (click)="goTrust()">
        <span>了解更多</span>
        <span class="fa fa-angle-right"></span>
      </div>
    </div>
  </div>
  <div class="work-contact-item nc-xl-col-6 nc-lg-col-6 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="contact-item nc-xl-col-7 nc-lg-col-7 nc-md-col-8 nc-sm-col-10 nc-xs-col-10">
      <div class="contact-head">24小时客服</div>
      <div class="contact-title">我们的团队提供11种语言支持，24小时为您服务。 同时，您也可以在太平洋标准时间每天早7点至晚7点间获得优享用户支持。</div>
      <div class="contact-foot" (click)="goHelp()">
        <span>了解更多</span>
        <span class="fa fa-angle-right"></span>
      </div>
    </div>
  </div>
</div>
