.help-container {
  width:380px;
  position: relative;
  height: 100%;
  .help-head {
    font-size: 16px;
    font-weight: 600;
    color:#4d4d4d;
    position: absolute;
    top: -40px;
    left:50%;
    transform: translateX(-50%);
  }
  .help-content {
    margin: 20px 0;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    max-height: calc(100% - 170px);
    overflow-y: auto;
    padding: 0 20px;
    box-sizing: border-box;
    .help-body {
      padding: 10px 0;
      .help-body-head {
        font-size: 12px;
        color: #4d4d4d;
        font-weight: 500;
      }
      .help-body-item {
        margin:10px 0;
        cursor: pointer;
        .body-item-head {
          font-size: 16px;
          color: #262626;
          font-weight: 800;
        }
        .body-item-content {
          font-size: 13px;
          color: #666;
          font-weight: 400;
        }
        .body-item-foot {
          font-size: 14px;
          color: #1aa3ff;
          span {
            display: inline-block;
          }
        }
        ul.question-list {
          list-style: none;
          padding-left: 5px;
          li {
            font-size: 14px;
            color: #737373;
            line-height: 24px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .help-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    a {
      font-size: 14px;
      color:#008ae6;
      margin-top: 10px;
    }
  }
}
