@import "../app-common";

.nc-layout {
  .lay-header {
    position: relative;
    .lay-header-oper {
      position: absolute;
      top:0;
      z-index:10;
      width: inherit;
    }
  }
  .nc-content {
    position: relative;
    width: 100%;
    .lay-body {
      padding: 10px 5px;
      .lay-body-item {
        margin: 50px 0;
      }
    }
  }
  .nc-footer {
    position: relative;
    width: 100%;
    background: #fff;
    border-top:solid 1px #e6e6e6;
    .lay-foot {
      padding: 10px;
    }
  }
}

.page-head-container {
  width:100%;
  display: flex;
  align-items: center;
  padding:15px;
  box-sizing: border-box;
  .header-oper-left {
    display: inline-flex;
    align-items: center;
    .oper-item {
      display: inline-block;
      float: left;
      color:#fff;
      &:first-child {
        font-size: 30px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
  .header-oper-right {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    .user-menu {
      display: inline-block;
      margin: 0 20px;
      .fa {
        font-size: 26px;
        color: #a6a6a6;
        cursor: pointer;
      }
      &.user-menu-2 {
        margin: 0;
      }
    }
    .oper-item {
      font-size:14px;
      color:#fff;
      display: inline-block;
      padding: 0 15px;
      border-bottom: solid 2px transparent;
      cursor: pointer;
      &:hover {
        border-bottom-color: #fff;
      }
    }
    .dropdown-items {
      list-style:none;
      border: solid 1px #d9d9d9;
      border-radius: 3px;
      z-index: 100;
      background: #fff;
      max-height: 240px;
      padding: 0px 20px 0px 10px;
      overflow: hidden;
      overflow-y: auto;
      li {
        display: inline-flex;
        width:180px;
        height:24px;
        align-items: center;
        cursor: pointer;
        color:#999;
        padding: 10px 5px;
        justify-content: space-between;
        &:not(:last-child) {
          border-bottom: solid 1px #e6e6e6;
        }
        &:hover {
          color:#666;
        }
        span:last-child {
          fill:none;
        }
        &.selected {
          color:#1a75ff;
          span:last-child {
            fill:#1a75ff;
          }
        }
      }
    }
    .dropdown-phone {
      padding: 10px;
      display: inline-flex;
      .app-image {
        display: inline-flex;
        flex-direction: column;
        margin: 5px;
        img {
          margin-bottom: 5px;
        }
        .app-text {
          font-size: 12px;
          color:#333;
        }
      }
    }
    .dropdown-fd {
      padding: 15px;
      display: flex;
      flex-direction: column;
      .dropdown-fd-item {
        &:first-child {
          border-bottom: solid 1px #f2f2f2;
        }
        padding: 15px 5px;
        display: inline-flex;
        flex-direction: column;
        .item-f-head {
          font-size: 12px;
          color:#666;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .item-f-content {
          display: inline-flex;
          flex-direction: column;
          width:220px;
          > div {
            font-size: 12px;
            margin-bottom: 10px;
            &:first-child {
              display: inline-flex;
              justify-content: space-between;
              span:first-child {
                font-weight: 500;
              }
            }
            &:last-child {
              color:#666;
              padding-right: 50px;
            }
          }
          &:hover {
            cursor: pointer;
            > div:first-child {
              span:first-child {
                text-decoration: underline;
              }
            }
          }
        }
        .item-f-foot {
          font-size: 12px;
          font-weight: 500;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    .dropdown-user-Info {
      .user-Info-list {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        border: solid 1px #d9d9d9;
        .user-data-item {
          padding: 13px 0;
          font-size: 16px;
          color: #333;
          font-weight: 400;
          width: 170px;
          border-bottom: solid 1px #f2f2f2;
          &:hover {
            cursor: pointer;
            border-bottom: solid 1px #666;
          }
        }
      }
      .user-notifys {
        padding: 10px 15px;
        border: solid 1px #d9d9d9;
        display: flex;
        flex-direction: column;
        .user-notify-item {
          padding: 5px 0;
          width: 200px;
          .notify-item-head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #404040;
            font-weight: 600;
            border-bottom: solid 1px #f2f2f2;
            padding: 10px 0;
            &:hover {
              cursor: pointer;
              border-bottom: solid 1px #666;
            }
          }
          .notify-item-list {
            width: 100%;
            padding: 5px 0;
            font-size: 14px;
            color: #666;
            .notify-item {
              width: inherit;
              display: flex;
              justify-content: space-between;
              padding: 10px 0;
              border-bottom: solid 1px #f2f2f2;
              .wish-content {
                display: inline-flex;
                flex-direction: column;
                span {
                  line-height: 18px;
                  font-size: 12px;
                  &:first-child {
                    color: #0099ff;
                  }
                }
              }
              .wish-image {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                border-radius: 2px;
                background: #999;
                .fa {
                  color: #fff;
                  font-size: 42px;
                }
                img {
                  height: inherit;
                  width: inherit;
                }
              }
              &:hover {
                cursor: pointer;
                background-color: #e6e6e6;
              }
            }
          }
        }
      }
    }
  }
}

.page-carousel-container {
  position: relative;
  background: #d6e0f5 url('../../assets/photo/carsoul-first-page.jpg');
  .header-carousel-title {
    color:#fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:150px;
    cursor: pointer;
    z-index: 3;
    h2 {
      margin: 10px;
    }
    p {
      color:#fff;
    }
    span {
      margin-left: 10px;
    }
    .carousel-title-process {
      position: relative;
      top: 70px;
    }
  }
  .page-carousel {
    height: 520px;
  }
}

.page-foot-container {
  width: 100%;
  position: relative;
  display: flex;
  .lay-foot-items {
    padding: 20px;
    .lay-foot-item {
      width:80%;
      h5 {
        margin: 0;
        margin-bottom: 15px;
        font-weight: 500;
      }
      a {
        color:#666;
        font-size: 14px;
        margin: 3px 0;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      &.foot-item-selection {
        margin-bottom: 10px;
      }
    }
  }
  .page-foot-tail {
    padding: 20px;
    .page-image {
      font-size: 22px;
      color:#666;
      margin-right: 5px;
    }
    .page-register {
      display: flex;
      p {
        margin: 0;
        font-size: 14px;
        color:#a6a6a6;
        line-height: 20px;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color:#a6a6a6;
          margin: 0;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    a {
      text-decoration: none;
      color:#a6a6a6;
      font-size: 14px;
      margin: 0 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &:not(:first-child) {
    border-top:solid 1px #e6e6e6;
  }
}

/*超小型桌面,手机*/
@media (max-width: @nc-screen-xs-min) {
  .page-carousel-container .header-carousel-title {
    left:40px;
  }
  .page-carousel-container .page-carousel {
    height: 300px;
  }
  .page-carousel-container .page-carousel .app-carouel /deep/ .carousel-fade {
    height: 100% !important;
  }
  .page-carousel-container .header-carousel-title .carousel-title-process {
    top: 25px;
  }
  .nc-layout .nc-content .lay-body .lay-body-item {
    margin: 30px 0;
  }
  .page-head-container.header-fixed {
    position: fixed;
    left: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 1px 1px 6px 0 #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
  }
  .page-head-container  .sceHome {
    color: #fff !important;
  }
  .page-head-container .header-oper-left .sceStory {
    color: #ff4d4d !important;
  }
  .page-head-container .header-oper-right .sceStory {
    color: #666 !important;
  }
}
/*小型桌面,平板*/
@media (min-width: @nc-screen-sm-min) {
  .page-carousel-container .header-carousel-title {
    left:80px;
  }
  .page-carousel-container .page-carousel {
    height: 410px;
  }
  .page-carousel-container .page-carousel .app-carouel /deep/ .carousel-fade {
    height: 100% !important;
  }
  .page-carousel-container .header-carousel-title .carousel-title-process {
    top: 60px;
  }
  .nc-layout .nc-content .lay-body .lay-body-item {
    margin: 40px 0;
  }
  .page-head-container.header-fixed {
    position: fixed;
    left: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 1px 1px 6px 0 #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
  }
  .page-head-container .sceHome {
    color: #fff !important;
  }
  .page-head-container .header-oper-left .sceStory {
    color: #ff4d4d !important;
  }
  .page-head-container .header-oper-right .sceStory {
    color: #666 !important;
  }
}
/*中型桌面屏幕*/
@media (min-width: @nc-screen-md-min) {
  .page-carousel-container .header-carousel-title {
    left:80px;
  }
  .page-carousel-container .page-carousel {
    height: 520px;
  }
  .page-carousel-container .page-carousel .app-carouel /deep/ .carousel-fade {
    height: 100% !important;
  }
  .page-carousel-container .header-carousel-title .carousel-title-process {
    top: 70px;
  }
  .nc-layout .nc-content .lay-body .lay-body-item {
    margin: 50px 0;
  }
}
/*大型桌面屏幕*/
@media (min-width: @nc-screen-lg-min) {
  .page-head-container.header-fixed {
    position: relative;
    left: 0;
    z-index: 100;
    background: none;
    box-shadow: none;
    border-bottom: none;
  }
  .page-head-container.header-fixed .sceHome {
    color: #fff !important;
  }
  .page-head-container.header-fixed .header-oper-left .sceStory {
    color: #fff !important;
  }
  .page-head-container.header-fixed .header-oper-right .sceStory {
    color: #fff !important;
  }
}
/*超大型桌面屏幕*/
@media (min-width: @nc-screen-xl-min) {
  //width: 100%;
}
