<div class="nc-layout">
  <div class="nc-header lay-header">
    <div class="lay-header-oper">
      <app-page-head></app-page-head>
    </div>
    <app-page-carousel></app-page-carousel>
  </div>

  <div class="nc-content nc-flex nc-content-center">
    <div class="lay-body nc-xl-col-9 nc-lg-col-9 nc-md-col-10 nc-sm-col-12 nc-xs-col-12">
      <div class="lay-body-item nc-content trip-search">
        <div class="trip-search-item trip-search-site nc-xl-col-5 nc-lg-col-5 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
          <nc-input [type]="'text'" [(modelValue)]="searchData.site" [showHint]="false" [noBorder]="true" [iconffix]="'pre'"
                    [height]="'100%'" [placeHolder]="'输入目的地、城市或景点'">
            <nc-input-icon class="nc-input-icon-preffix"><span class="fa fa-map-marker"></span></nc-input-icon>
          </nc-input>
        </div>
        <div class="trip-search-item trip-search-date nc-flex nc-align-item-center nc-xl-col-3 nc-lg-col-3 nc-md-col-2 nc-sm-col-12 nc-xs-col-12">
          <span class="fa fa-calendar"></span><span (click)="openDateSelector()">{{tripDateRange}}</span>
          <nc-range-date-selector *ngIf="isShowDateRange" class="date-selector" [(dateRange)]="dateRange"
                                  (dateRangeChange)="dateRangeChange()"></nc-range-date-selector>
        </div>
        <div class="trip-search-item trip-search-person nc-flex nc-align-item-center nc-xl-col-3 nc-lg-col-3 nc-md-col-2 nc-sm-col-12 nc-xs-col-12">
          <span class="fa fa-user-plus"></span><span (click)="openDateSelector()">{{personData}}</span>
        </div>
        <div class="trip-search-item trip-search-button nc-flex nc-content-center nc-align-item-center nc-xl-col-1 nc-lg-col-1 nc-md-col-2 nc-sm-col-12 nc-xs-col-12">
          <nc-button [type]="'major'">搜索</nc-button>
        </div>
      </div>
      <div *ngFor="let item of contents" class="lay-body-item2 nc-content nc-flex nc-content-center nc-align-item-center"
           style="height:300px;">
        content
      </div>
    </div>
  </div>

  <div class="nc-footer nc-flex nc-content-center">
    <div class="lay-foot nc-flex nc-xl-col-9 nc-lg-col-9 nc-md-col-10 nc-sm-col-12 nc-xs-col-12">
      <app-page-foot style="width:100%;"></app-page-foot>
    </div>
  </div>
</div>
