<div class="page-foot-container">
  <div class="lay-foot-items nc-flex nc-container-column nc-xl-col-3 nc-lg-col-3 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="lay-foot-item foot-item-selection">
      <nc-select [options]="langOptions" [(value)]="selectedLang"></nc-select>
    </div>
    <div class="lay-foot-item foot-item-selection">
      <nc-select [options]="CCYOptions" [(value)]="selectedCCY"></nc-select>
    </div>
  </div>
  <div class="lay-foot-items nc-flex nc-container-column nc-xl-col-3 nc-lg-col-3 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="lay-foot-item">
      <h5>爱彼迎</h5>
    </div>
    <div class="lay-foot-item nc-flex nc-container-column">
      <a>工作机会</a>
      <a>新闻</a>
      <a>政策</a>
      <a>帮助</a>
      <a>多元化与归属感</a>
    </div>
  </div>
  <div class="lay-foot-items nc-flex nc-container-column nc-xl-col-3 nc-lg-col-3 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="lay-foot-item">
      <h5>发现</h5>
    </div>
    <div class="lay-foot-item nc-flex nc-container-column">
      <a>信任与安全</a>
      <a>旅行基金</a>
      <a>爱彼迎公民</a>
      <a>旅游指南</a>
      <a>爱彼迎杂志</a>
      <a>爱彼迎活动助手</a>
    </div>
  </div>
  <div class="lay-foot-items nc-flex nc-container-column nc-xl-col-3 nc-lg-col-3 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <div class="lay-foot-item">
      <h5>出租</h5>
    </div>
    <div class="lay-foot-item nc-flex nc-container-column">
      <a>为什么要出租?</a>
      <a>待客之道</a>
      <a>房东义务</a>
      <a>开展体验</a>
      <a>Open Homes</a>
    </div>
  </div>
</div>
