<div class="page-carousel-container">
  <div class="page-carousel">
    <nc-carousel class="app-carouel" [captions]="slideOptions" [effect]="'fade'" [height]="'100%'"
                 [timerlen]="10000" (showIndexChange)="handleSlideChange($event)"></nc-carousel>
  </div>
  <div class="header-carousel-title" (click)="goExhibition()">
    <h2>{{slideOptionTitle.head}}</h2>
    <h2 class="nc-xs-display-none nc-sm-display-block">{{slideOptionTitle.subHead}}</h2>
    <p>{{slideOptionTitle.description}}</p>
    <span *ngIf="curSlideIndex === 0"><nc-button [type]="'major'">立即领取</nc-button></span>
    <div class="carousel-title-process">
      <nc-progress *ngFor="let processitem of slideProcess" [value]="processitem.curValue"
                   [total]="processitem.total" [isDynamic]="processitem.isdynamic" [width]="'60px'"
                   [height]="4" [showProcValue]="false"></nc-progress>
    </div>
  </div>
</div>
