<nc-drawer [(isShow)]="isDisplay" (isShowChange)="showChange()">
  <div nc-drawer-content class="help-container">
    <div class="help-head">推荐帮助</div>
    <div class="help-content">
      <div style="height:300px;">倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千。</div>
      <div style="height:300px;">倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千。</div>
      <div style="height:300px;">倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千。</div>
      <div style="height:300px;">倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千。</div>
      <div style="height:300px;">倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千。</div>
      <div style="height:300px;">倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千。</div>
      <div style="height:300px;">倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千。</div>
      <div style="height:300px;">倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千。</div>
    </div>
    <div class="help-foot">
      <nc-button [style]="'custom'" [width]="'340px'" [height]="'36px'">访问帮助中心</nc-button>
      <a href="https://www.airbnb.cn/help/feedback">提供反馈</a>
    </div>
  </div>
</nc-drawer>
